@import "../../App.css";

.storybook_button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  outline: 0;
}
.storybook_button__primary,
.storybook_button__contained {
  color: var(--primary-color);
  background-color: var(--primary-translucent-color);
  border: none;
}
.storybook_button__secondary {
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}

.storybook_button__text {
  outline: none;
  background-color: transparent;
  color: var(--primary-color);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.storybook_button__text:hover {
  text-decoration: none;
  background-color: var(--primary-translucent-color);
}

.storybook_button__outlined {
  color: var(--primary-color);
  outline: 0;
  user-select: none;
  border: 1px solid var(--primary-translucent-color);
  background-color: transparent;
}
.storybook_button__small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook_button__medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook_button__large {
  font-size: 16px;
  padding: 12px 24px;
}
