.storybook-button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  outline: 0;
}
.storybook-button--primary,
.storybook-button--contained {
  color: white;
  background-color: #fea905;
  border: none;
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}

.storybook-button--text {
  outline: none;
  background-color: transparent;
  color: #fea905;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.storybook-button--text:hover {
  text-decoration: none;
  background-color: rgb(254, 169, 5, 0.04);
}

.storybook-button--outlined {
  color: #fea905;
  border-color: rgb(254, 169, 5);
  outline: 0;
  user-select: none;
  border: 1px solid rgb(254, 169, 5, 0.5);
  background-color: transparent;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
