@import url("../../App.css");

.cta__container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  height: 3rem;
  width: 3rem;
  padding: 0.2rem;
  border: 2px solid var(--primary-translucent-color);
}

.cta__container__circle {
  border-radius: 50%;
}
.cta__container__rounded {
  border-radius: 20%;
}

.filled {
  background-color: var(--primary-translucent-color);
  border: 0;
}
