@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200&family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
  --primary-color: #c7f36c;
  --primary-translucent-color: rgba(199, 243, 108, 0.22);
  --primary-linear-gradient: linear-gradient(
    180deg,
    var(--primary-color) 0%,
    rgba(11, 11, 11, 0) 100%
  );
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Raleway", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue",
    "Fira Sans", sans-serif;
  font-family: "Raleway", sans-serif;
  background-color: #f3f5f7;
  background-repeat: no-repeat;
  background-position: right;
}
