:root {
  --primary-color: #c7f36c;
  --primary-translucent-color: rgba(199, 243, 108, 0.22);
  --primary-linear-gradient: linear-gradient(
    180deg,
    var(--primary-color) 0%,
    rgba(11, 11, 11, 0) 100%
  );
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Raleway", "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue",
    "Fira Sans", sans-serif;
  font-family: "Raleway", sans-serif;
  background-color: #f3f5f7;
  background-repeat: no-repeat;
  background-position: right;
}
